*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0d1117;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.login-box{

width:380px;

background:#161b22;

padding:30px;

border-radius:15px;

border:1px solid #30363d;

}

.login-box h1{

text-align:center;

color:#58a6ff;

margin-bottom:10px;

}

.login-box p{

text-align:center;

margin-bottom:20px;

color:#aaa;

}

input{

width:100%;

padding:14px;

margin-bottom:15px;

background:#0d1117;

color:white;

border:1px solid #30363d;

border-radius:10px;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#238636;

color:white;

font-size:17px;

cursor:pointer;

}

button:hover{

background:#2ea043;

}

#error{

margin-top:15px;

text-align:center;

color:red;

}

.topbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background:#161b22;

border-bottom:1px solid #30363d;

}

.container{

padding:20px;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#58a6ff;

padding:14px;

}

td{

padding:12px;

border-bottom:1px solid #30363d;

text-align:center;

}

.btn{

padding:8px 12px;

margin:2px;

border:none;

border-radius:8px;

cursor:pointer;

color:white;

}

.accept{

background:#238636;

}

.reject{

background:#da3633;

}

.process{

background:#d29922;

}

.done{

background:#1f6feb;

}
